[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4.git
[submodule "deps/7-Zip"]
	path = deps/7-Zip
	url = https://github.com/mcmilk/7-Zip.git
[submodule "deps/libretro-common"]
	path = deps/libretro-common
	url = https://github.com/libretro/libretro-common
[submodule "deps/minizip-ng"]
	path = deps/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "deps/rcheevos"]
	path = deps/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "deps/simpleini"]
	path = deps/simpleini
	url = https://github.com/brofield/simpleini
[submodule "deps/zlib-ng"]
	path = deps/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "cores/gpsp"]
	path = cores/gpsp
	url = https://github.com/libretro/gpsp
